@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .custom-transition {
        @apply transition-opacity duration-[750ms];
        transition: visibility 0.75s; /* Добавление transition для visibility */
    }
}